# backend
# ignore Python cashe files
__pycache__/
*.pyc

# ignore virtual environments
venv/
.venv/

# ignore environment variables file
.env
.DS_Store

# ignore generated pptx files
backend/generated_ppts/*

# frontend
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts